venv/
.idea/
*.pyc
/coverage.data
/coverage/
/htmlcov/
.env
db.sqlite3
credentials.json
storage.json
Batch-Company-Adresses.xlsx
Batch-Company-Adresses_test.xlsx
Batch-Company-Adresses_1.xlsx
Batch-Company-Adresses_test_1.xlsx